.search-container {
    margin: 55px auto;
    width: 1251px;
    height: 270px;
    background: #E6F7FF;
    border-radius: 16px;
}

.search-content {
    padding: 65px 480px 40px 95px;
}

.search-title {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.search-input {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 675px;
    height: 40px;
}

.search-input::placeholder {
    display: flex;
    align-items: center;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #BFBFBF;
}

.loaders {
    display: flex;
    width: 1251px;
    height: 387px;
    margin: 55px auto;
}

.info-loader {
    margin-top: 35px;
}