.button-container {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #1890FF;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}